.example-viewport {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .example-viewport {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .example-viewport {
    margin-bottom: 4rem;
  }
}
