<form class="space-y-4 md:space-y-6" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div>
    <app-text-input title="First Name" [control]="firstName" placeholder="First Name" />
  </div>
  <div>
    <app-text-input title="Last Name" [control]="lastName" placeholder="Last Name" />
  </div>
  <div>
    <app-phone-input title="Phone Number" [control]="phone"  [prefixControl]="prefixPhone"  placeholder="Phone Number" />
  </div>
  <div>
    <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
      Email</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
          <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
          <path
            d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
        </svg>
      </div>
      <input type="email" formControlName="email" id="email-address-icon" placeholder="test@domain.com"
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
    </div>
    @if (email.invalid && (email.touched || email.dirty)) {
      @if (email.hasError('required')) {
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">Email is required!</p>
      }
    }
  </div>
  <div>
    <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
      Password</label>
    <div>
      <input type="password" formControlName="password" id="email-address-icon"
             class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full ps-3 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
    </div>
    @if (password.invalid && (password.touched || password.dirty)) {
      @if (password.hasError('required')) {
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">Password is required!</p>
      }
    }
  </div>
  <div>
    <app-date-picker [control]="birthDate" [title]="'Birth Date'" />
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-start">
    </div>
    <a routerLink="/auth/forgot-password" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot
      password?</a>
  </div>
  <button [disabled]="loading" type="submit"
          class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
    {{ loading ? "Registering..." : "Register now" }}
  </button>
  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
    Already have an account? <a routerLink="/auth/login"
                                  class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign in</a>
  </p>
</form>

