/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-datepicker";

@theme{
  --color-primary-50: #fef2f2;
  --color-primary-100: #fee2e2;
  --color-primary-200: #fecaca;
  --color-primary-300: #fca5a5;
  --color-primary-400: #f87171;
  --color-primary-500: #ef4444;
  --color-primary-600: #dc2626;
  --color-primary-700: #b91c1c;
  --color-primary-800: #991b1b;
  --color-primary-900: #7f1d1d;
  --color-primary-950: #450a0a;

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f7fafc;}

/* Dark theme override */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #020617; /* dark background */
  }
}
/* Step 1: Ensure the root elements are defined (if you want full viewport height) */


/* Step 3: Set the custom element's height */
ui-resource-renderer {
  height: 100%;
  display: block; /* Ensure it's not inline, though components usually are block */
}

/* Step 4: Finally, apply height to the target div */
ui-resource-renderer > div {
  height: 100%;
}


.datepicker-picker,
.datepicker-dropdown {
  z-index: 1100 !important;
}
