<div class="border-1 border-gray-200 dark:border-gray-700">
<div class="flex items-center sm:justify-center sm:ml-0">
  <table class="text-sm text-left text-gray-500  w-full">
    <thead class="hidden sm:table-header-group text-xs text-gray-700 bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      @for(column of columns; track column){
        <th scope="col" class="px-6 py-3 font-semibold capitalize">{{column.label}}</th>
      }
      <th scope="col" class="px-6 py-3 font-semibold">Action</th>
    </tr>
    </thead>
    <tbody>
      @for(row of rows; track row){
        <tr class="flex flex-col mb-4 sm:table-row  ">
          @for(column of columns; track column){
            <td class="px-6 py-4 dark:text-gray-300 dark:bg-gray-800 bg-white font-medium text-gray-900 whitespace-nowrap first:rounded-t-lg sm:first:rounded-t-none sm:first:rounded-l-lg text-xs">{{row[column.key]}}</td>
          }
          <td class="px-6 py-4 dark:text-gray-300 dark:bg-gray-800 bg-white last:rounded-b-lg sm:last:rounded-b-none sm:last:rounded-r-lg text-xs">

            @if(canEditRow(row)){
        <span>
          <button class="font-medium text-blue-600 hover:underline" (click)="openEditDialog(row)">Edit</button>
        </span>
            }
          </td>

        </tr>
      }
    </tbody>
  </table>
</div>
</div>
